@import './base.css';
body{
  background-color: #ddd;
}

body a{
  text-decoration: none;
  color: #444;
}

#app {
  margin: 0 auto;
}

#side-bar {
  width: 20%;
  padding: 15px;
  float: left;
}
div#content {
  width: 80%;
  float: left;
  padding-right: 15px;
  padding-top: 15px;
  padding-left: 9px;
}

div#categories {
  display: flex;
  flex-direction: column;
}

.category-thumb img {
  max-width: 100px;
  height: auto;
  margin: auto;
  display: block;
  max-height: 82px;
}

.category-name {
  text-align: center;
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
}
.category {
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  padding: 15px;
  position: relative;
  height: 139px;
  width: 141px;
  margin: 0 auto;
  margin-bottom: 15px;
}
#items .item {
  width: calc(33.33% - 30px);
  float: left;
  background-color: #fff;
  border-radius: 20px;
  margin: 0 15px 15px 15px;
  overflow: hidden;
  padding: 20px;
  height: 256px;
}
.item-thumb {
  height: 166px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-thumb img {
  max-height: 80%;
  max-width: 80%;
}
div#main-content {
  overflow: AUTO;
}